<a href="https://colab.research.google.com/github/kkarinakomkova/python-projects/blob/main/Working_with_NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import os

file_path = '/content/drive/MyDrive/homework/adult.csv'
adult = pd.read_csv(file_path)

# Видаляю рядки з ?
adult = adult.replace('?', pd.NA) # замінюю ? на NaN
adult = adult.dropna() # видаляю всі відсутні значення

# Переводжу salary у тип категоріальних даних
adult["salary"] = adult["salary"].astype('category')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Gender Counts

In [ ]:
# Кількість жінок і чоловіків
gender_counts = adult["sex"].value_counts()
print(gender_counts)

sex
Male      20380
Female     9782
Name: count, dtype: int64

## The average age of men

In [ ]:
average_age_men = adult[adult["sex"] == "Male"]["age"].mean().round(2)
print(f"The average age of men is {average_age_men}%")

The average age of men is 39.18%

## The percentage of people from Poland

In [ ]:
# Кількість людей з Польщі
count_polish = adult[adult["native-country"] == "Poland"].shape[0]

# Загальна кількість людей
total_people = adult.shape[0]

# Відсоток людей з Польщі
percentage_of_polish = round((count_polish / total_people) * 100, 2)

print(f"Percentage of Polish is {percentage_of_polish}%")

Percentage of Polish is 0.19%

## People without higher education but earning > 50K

In [ ]:
people_without_highter_education = adult[(~adult["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]) & (adult['salary'] == ">50K"))].value_counts().sum()
print(f"People without higher education but earning > 50K is {people_without_highter_education}")

People without higher education but earning > 50K is 3178

## Age statistics for each education type

In [ ]:
grouped_by_age = adult.groupby("education") ["age"].describe()
print(grouped_by_age)

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

## The salaries of married and unmarried men

###### The count of married men with salaries >50K is much higher than the count of unmarried men

In [ ]:
married_men = adult[(adult["sex"] == "Male") & (adult["marital-status"].str.startswith("Married"))]

unmarried_men = adult[(adult["sex"] == "Male") & (~adult["marital-status"].str.startswith("Married"))]

pivot_table_married = married_men.pivot_table(
    values="sex", index="salary", aggfunc="count", observed=False
)
print(f"The salaries of married men \n{pivot_table_married}")

pivot_table_unmarried = unmarried_men.pivot_table(
    values="sex", index="salary", aggfunc="count", observed=False
)
print(f"\nThe salaries of unmarried men \n{pivot_table_unmarried}")

The salaries of married men
         sex
salary
<=50K   7052
>50K    5723

The salaries of unmarried men
         sex
salary
<=50K   6932
>50K     673

## The maximum number of hours a person works per week

In [ ]:
max_hours_per_week = adult["hours-per-week"].max()

people_work_max_hours = adult[adult["hours-per-week"] == max_hours_per_week].value_counts().sum()

print(f"The maximum hours worked per week: {max_hours_per_week}")
print(f"Number of people working {max_hours_per_week} hours per week: {people_work_max_hours}")

The maximum hours worked per week: 99
Number of people working 99 hours per week: 78